# Dependencies
black
glob2
natsort
typing_extensions

pytest

ipykernel
ipython
ipywidgets
jupyter

matplotlib
Pillow

gym

--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision

git+https://github.com/qubvel/segmentation_models.pytorch

