# Dependencies
black
glob2
natsort
typing_extensions

numpy == "1.23.4" # Later version cause a bug in seaborn plotting.
pytest

ipykernel
ipython
ipywidgets
jupyter
dash
dash-extensions
dash-canvas

scikit-learn
scikit-image
matplotlib
seaborn
plotly
Pillow

gym

--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision

git+https://github.com/qubvel/segmentation_models.pytorch

